<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zengqiang.composestudy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeStudy">
        <activity
            android:name=".module.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ComposeStudy.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".module.widget.TextActivity" />
        <activity android:name=".module.WidgetActivity" />
        <activity android:name=".module.widget.ButtonActivity" />
        <activity android:name=".module.widget.OutLineButtonActivity" />
        <activity android:name=".module.widget.TextButtonActivity" />
        <activity android:name=".module.widget.TextFieldActivity" />
        <activity android:name=".module.widget.OutlinedTextFieldActivity" />
        <activity android:name=".module.widget.IconActivity" />
        <activity android:name=".module.widget.ImageActivity" />
        <activity android:name=".module.widget.IconToggleButtonActivity" />
        <activity android:name=".module.widget.SwitchActivity" />
        <activity android:name=".module.widget.RadioButtonActivity" />
        <activity android:name=".module.widget.TopAppBarActivity" />
        <activity android:name=".module.widget.TabRowActivity" />
        <activity android:name=".module.LayoutActivity" />
        <activity android:name=".module.layout.ConstraintLayoutActivity" />
        <activity android:name=".module.layout.RowActivity" />
        <activity android:name=".module.AnimationActivity" />
        <activity android:name=".module.animator.AnimatedVisibilityActivity" />
        <activity android:name=".module.animator.AnimatedContentActivity" />
    </application>

</manifest>